
  
  /* Style for the nav link on hover */
  .nav-link:hover {
    background-color: lightgray; /* Change background color on hover */
    color: black; /* Optional: Change text color on hover */
    border-radius: 10px;
  }
  